<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <PostBuildEvent>copy /Y ..\* ..\..&#xD;&#xA;rmdir /q /s ..</PostBuildEvent>
    <Platform>Any CPU</Platform>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <PublishDir>..\_build</PublishDir>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <_IsPortable>false</_IsPortable>
    <TargetLatestRuntimePatch>true</TargetLatestRuntimePatch>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>